*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(145, 122, 122);
    color: #000000;
    text-align: center;
    justify-content: center;
    

}

